x-logging: &default-logging
  driver: loki
  options:
    loki-url: 'http://localhost:3100/api/prom/push'
    loki-pipeline-stages: |
      - multiline:
          firstline: '^\d{4}-\d{2}-\d{2} \d{1,2}:\d{2}:\d{2}'
          max_wait_time: 3s
      - regex:
          expression: '^(?P<time>\d{4}-\d{2}-\d{2} \d{1,2}:\d{2}:\d{2},d{3}) (?P<message>(?s:.*))$$'

services:

  fastid-db:
    image: postgres:16-alpine
    env_file:
      - .env
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD?Variable not set}
      - POSTGRES_USER=${POSTGRES_USER?Variable not set}
      - POSTGRES_DB=${POSTGRES_DB?Variable not set}
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5412:5432"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    networks:
      - fastid-net
      - observability_net

  fastid-redis:
    image: redis:latest
    env_file:
      - .env
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD?Variable not set}
    restart: unless-stopped
    # Set credentials & logging
    command: >
      sh -c '
        mkdir -p /usr/local/etc/redis &&
        echo "bind 0.0.0.0" > /usr/local/etc/redis/redis.conf &&
        echo "appendonly yes" >> /usr/local/etc/redis/redis.conf &&
        echo "user default on >$REDIS_PASSWORD ~* +@all" > /usr/local/etc/redis/users.acl &&
        redis-server /usr/local/etc/redis/redis.conf --aclfile /usr/local/etc/redis/users.acl
      '
    volumes:
      - redis_data:/var/lib/redis/data
    ports:
      - "6312:6379"
    networks:
      - fastid-net
      - observability_net

  fastid-app:
    build:
      context: .
      dockerfile: docker/fastapi.Dockerfile
      target: dev
    env_file:
      - .env
    restart: unless-stopped
    ports:
      - "8012:8000"
    depends_on:
      - fastid-db
      - fastid-redis
    logging: *default-logging
    volumes:
      - "./migrations:/opt/fastid/migrations"
      - "./fastid:/opt/fastid/fastid"
      - "./templates:/opt/fastid/templates"
      - "./static:/opt/fastid/static"
    networks:
      - fastid-net
      - observability_net

volumes:
  pg_data:
  redis_data:
networks:
  fastid-net:
    name: fastid-net
  observability_net:
    name: observability_net
